<div class="header">
    <nav class="nav">
        <div class="nav__item"><a href='/'>Home</a></div>
        <div class="nav__item"><a href='/about'>About</a></div>
        <div class="nav__item"><a href='/help'>Help</a></div>
    </nav>
</div>
<div class="title">
    {{title}}
</div>