<form action="#">
    <input type="text" value="" placeholder="Enter your location">
    <button type="submit">Search</button>
</form>


<div id="result-loading" class="result"></div>
<div id="result-city" class="result"></div>
<div id="result-latitude" class="result"></div>
<div id="result-longitude" class="result"></div>